@import "bootstrap";

html,
body {
  height: 100%;
}

.navbar {
  background-color: #47525d !important;
}

.nav-link {
  color: white !important;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#home-container {
  margin-top: 30px;
}

.jumbo {
  background-image: asset-url('jumbo-copy.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgrey;
}

#sticky-footer {
  flex-shrink: none;
}

.form-btn {
  width: 200px;
}

.btn-conta {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 25px;
}

.back {
  text-align: center;
} 

.card-text p {
  text-align: left;
}